<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="text-center">
				<h2 class="error">Something went wrong</h2>
				<p class="lead">@Model.Exception.Message</p>
				</div>
		</div>
		</div>
	</div>
	</section>